.aboutmy {
    width: 100%;
    background: #f2f2f2;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    z-index: 1;
    position: relative;
}
.about_my{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}
.my_name{
    padding-top: 3%;
    padding-bottom: 3%;
}
.my_name_sk{
    width: 45%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    text-align: left;
}
.my_name_sk:last-child{
    padding-bottom: 4%;
}
.my_name_sum{
    margin: 0 auto;
    font-size: 1rem;
    text-align: left;
    font-weight: 300;
}
.my_name_sum_header{
    font-size: 1.5rem;
    text-align: left;
    font-weight: 500;
}
.my_name:first-child{
    padding-top: 3%;
}
.my_name:last-child{
    padding-bottom: 5%;
}
.dis_flex_set{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.aboutmy_w_set{
    width: 80%;
    margin: 0 auto;
}