.aboutme {
    width: 100%;
    height: 500px;
    background: #ffb395;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    z-index: 1;
    position: relative;
}

.aboutme_h1 {
    width: 60%;
    padding-top: 20px;
    font-size: 2rem;
    margin: 0 auto;
    text-align: left;
}

.aboutme_summary {
    width: 62.08%;
    height: 100%;
    margin: 0 auto;
}

.test-css {
    display: none;
}

.aboutme_summary i {
    font-size: 26px;
}

.test-css {
    display: none !important;
}