.archiving{
    width: 100%;
    background:white;
    height: 100vh;
    list-style: none;
    margin: 0 auto;
    padding-top: 5rem;
    z-index: -1;
}
.archiving_h1{
    width: 60%;
    padding-top: 2rem;
    font-size: 2rem;
    margin: 0 auto;
    text-align: left;
}
.archiving_main {
    width: 66.66%;
    height: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.archiving_left,
.archiving_right {
    width: 40%;
    height: 86%;
    position: relative;
    background-color: #fff;
    top: 5%;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.archiving_top{
    position: relative;
    width: 100%;
    height: 11rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
}
.archiving_top i{
    font-size: 4.8rem;
    padding-top: 1.6rem;
    padding-left: 1.6rem;
}
.archiving_logos{
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 1.5rem;
    padding-left: 1.2rem;
}
.archiving_logos a{
    display: block;
    width: 40%;
    background-color: #ffb395;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 1.8rem;
    border-radius: 1.5rem;
    margin-top: 1.5rem;
}
.archiving_logos a:hover{
    color: black;
}
.archving_footer{
    width: 100%;
    height: 30rem;
}
.archiving_ul{
    padding-top: 3.4rem;
}
.archiving_ul li{
    width: 100%;
    padding: 2rem;
    padding-top: 4rem;
    padding-left: 12%;
    display: flex;
    flex-direction: row;
    font-size: 0.95rem;
    margin: 0 auto;
    text-align: justify;
}
.archiving_ul li i{
    width: 2rem;
    height: 2rem;
    padding-top: 0.4rem;
}
#naverblog{
    font-size: 4rem;
    padding-top: 2rem;
}
.cs{
    text-align: center;
}