.dis{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    width: 50%;
    height: 17.5rem;
    margin: 0 auto;
}
.top_btn{
    position: fixed;
    top: 92%;
    left: 87%;
    width: 10rem;
    height: 10rem;
}