.contact_me {
        width: 100%;
        height: 100vh;
        background: #f2f2f2;
        text-align: center;
        margin: 0 auto;
        padding-top: 50px;
        z-index: 1;
        position: relative;
}

.contact_me_form_div {
        width: 60%;
        height: 75%;
        position: relative;
        top: 2%;
        border-radius: 0.5rem;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
                0 4px 6px -4px rgb(0 0 0 / 0.1);
        margin: 0 auto;
        margin-top: 20px;
        background-color: #fff;
}
.tell{
        width: 80%;
        height: 100px;
        margin: 10px auto;
        display: flex;
        flex-direction: row;
}
.contact_icons{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80%;
        margin: 0 auto;
}
.contact_icons a{
        width: 50%;
}
.contact_icons a img{
        padding: 20%;
        transition: .5s;
}
.contact_tell{
        width: 90%;
        text-align: center;
        padding-top: 5%;
        padding-left: 5%;
}
.contact_me_ment{
        width: 80%;
        margin: 0 auto;
        padding-top: 15%;
        text-align: center;
        font-size: 1.5rem;
}
.email_icons{
        font-size: 1.5rem;
        text-align: center;
}
.contact_icons a img:hover{
        padding: 30%;
        transition: .5s;
}