.main{
    width: 80%;
    height: 120vh;
    background-color:white;
    font-size: 5rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 2.4rem 2.4rem 0 3.6rem;
    text-align: left;
}
.main p{
    margin-bottom: 0 !important;
}
.intro_left{
    width: 30%;
    height: 100vh;
    background-color: white;
}
.left_title{
    font-size: 1.3rem;
}
.intro_left_top{
    padding-top: 3.2rem;
    font-weight: 600;
}
.intro_left_bottom{
    padding-top: 2.4rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.intro_left_contact{
    padding-top: 2.4rem;
    display: flex;
    flex-direction: row;
}
.contact_png{
    width: 3.8rem;
    height: 3.8rem;
    margin: 0.5rem;
    margin-left: 0;
    margin-right: 1rem;
}
.intro_right{
    width: 70%;
    height: 100vh;
    background-color: white;
}
.right_birth{
    padding: 7.2rem 2.4rem 2.4rem 2.4rem;
}
.right_education{
    padding: 3.6rem 2.4rem 2.4rem 2.4rem;
}
.right_title{
    font-size: 1.3rem;
    font-weight: 600;
}
.right_second{
    font-size: 1.2rem;
    padding-top: 0.8rem;
}
.right_second_1{
    font-size: 1.2rem;
    padding-top: 3.2rem;
}
.right_second_2{
    font-size: 1.2rem;
    padding-left: 30.6rem;
    padding-top: 1.6rem;
}
.right_second_3{
    font-size: 1.2rem;
    padding-top: 0.8rem;
}
.right_education_div{
    display: flex;
    flex-direction: row;
    font-weight: 200;
}
.right_education_div_1{
    display: flex;
    flex-direction: row;
    font-weight: 500;
}














































.main_inner{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.main_left{
    width: 70%;
    height: 80vh;
    background-color: #f2f2f2;
    position: relative;
    top: 4%;
    text-align: center;
}
.main_inner_top{
    width: 100%;
    font-size: 1.45rem;
    text-align: left;
}
.top_p_1{
    font-weight: 700;
}
.top_p_2{
    font-weight: 500;
}
.inner_top_icon{
    margin-bottom: 40px;
    position: relative;
    top: 20px;
}
.main_inner_summary{
    width: 80%;
    margin-top: 50px;
    font-size: 1.1rem;
    text-align: left;
    position: relative;
    left: 10%;
    font-weight: 300;
}
.main_right{
    width: 25%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.right_right{
    margin-top: 90px;
}
.right_right img{
    width: 100%;
    height: 45vh;
    border-radius: 30px;
    margin-top: 38%;
}
.inner_p{
    margin-top: 25px;
    font-size: 1rem;
}
.inner_p_1{
    margin-top: 25px;
    font-size: 1rem;
    padding-bottom: 40px;
}
.myinfo_links{
    margin-top: 5px;
}
.myinfo_links a{
    padding-left: 7px;
    text-decoration: underline;
}
.strong{
    font-weight: 700;
}
.my_name_title{
    font-size: 1.3rem !important;
}
.dis_flex_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* dark mode theme */
.true{
    background-color: #202b38 !important;
    color: #dbdbdb !important;
}
.trueCol{
    color: #dbdbdb !important;
}
.trues{
    background-color: #49607c !important;
}
.truelinear{
    background-color: #202b38 !important;
}