.main{
    width: 100%;
    height: 750px;
    background-color: #f2f2f2;
}
.main_inner{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}
.main_left{
    width: 65%;
    height: 80%;
    background-color: #f2f2f2;
    position: relative;
    top: 10%;
    text-align: center;
}
.main_inner_top{
    width: 80%;
    font-size: 1.5rem;
    position: relative;
    top: 5%;
    left: 10%;
    text-align: left;
}
.top_p_1{
    font-weight: 700;
}
.top_p_2{
    font-weight: 500;
}
.inner_top_icon{
    margin-bottom: 40px;
    position: relative;
    top: 20px;
}
.main_inner_summary{
    width: 80%;
    margin-top: 50px;
    font-size: 1.1rem;
    text-align: left;
    position: relative;
    left: 10%;
    font-weight: 300;
}
.main_right{
    width: 25%;
    height: 80%;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: row;
}
.right_right img{
    width: 100%;
    height: 69%;
    border-radius: 30px;
    margin-top: 38%;
}
.inner_p{
    margin-top: 25px;
    font-size: 1.05rem;
}
.inner_p_1{
    margin-top: 25px;
    font-size: 1.05rem;
    padding-bottom: 40px;
}
.myinfo_links{
    margin-top: 5px;
}
.myinfo_links a{
    padding-left: 7px;
    text-decoration: underline;
}
.strong{
    font-weight: 700;
}