.projects {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #f2f2f2;
}

.projects_main {
    width: 80%;
    margin: 0 auto;
}

.myprojects {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    top: 5%;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    margin-top: 30px;
    background-color: #fff;
    min-height: 550px;
    padding-bottom: 30px;
}

.myprojects_header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.myprojects_header p {
    padding-top: 20px;
    font-size: 22px;
    padding-right: 30px;
    padding-left: 0px;
}

.header_top_titles {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
}


.second_p {
    color: gray;
    font-size: 14px !important;
    padding: 25px 0 0 0 !important;
    text-align: right;
}

.myprojects_summary {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    font-size: 14px;
    text-align: justify;
}


.header_second {
    width: 90%;
    display: flex;
    margin: 0 auto;
    padding-bottom: 20px;
}

.header_second p {
    font-size: 1.2rem;
}

.header_second_logos {
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 15px;
    padding-left: 0px;
}

.header_second_logos a {
    display: block;
    width: 160px;
    height: 30px;
    background-color: #ffb395;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    padding-top: 2px;
    border-radius: 15px;
}

.header_second_logos a:hover {
    color: black;
}
.header_top_shortsum p{
    width: 90%;
    margin: 0 auto;
    font-size: 16px !important;
}

.summary_left {
    width: 90%;
    height: 80%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.summary_right {
    width: 40%;
    height: 40%;
    margin: 0 auto;
}

.summary_left_top {
    width: 45%;
    padding: 20px;
    font-weight: 310;
    color: rgb(203, 203, 203);
    transition: .3s;
}
.summary_left_top:hover{
    color: black;
    transition: .3s;
}

.summary_left_top h2 {
    padding-bottom: 20px;
    font-weight: 600;
}

.summary_right img {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    margin-top: 20px;
    opacity: 0.5;
    transition: .5s;
}
.summary_right img:hover{
    opacity: 1;
    transition: .5s;
}
.padding_top{
    padding-top: 24px !important;
    font-size: 14px !important;
}