.projects {
    width: 80%;
    height: 2000px;
    margin: 0 auto;
}

.projects_main {
    width: 75%;
    margin: 0 auto;
    animation: fadein 3s;
    -webkit-animation: fadein 3s;
}

.myprojects {
    width: 100%;
    height: 100%;
    position: relative;
    top: 5%;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    margin-top: 30px;
    background-color: #fff;
    min-height: 550px;
    padding-bottom: 30px;
}

.myprojects_header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.myprojects_header p {
    padding-top: 20px;
    font-size: 26px;
    padding-right: 30px;
    padding-left: 20px;
    font-family: 'Yoon330';
}

.myprojects_summary {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    text-align: justify;
}

.header_second{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.header_second p{
    font-size: 1.2rem;
}

.summary_left {
    width: 30%;
    height: 80%;
    padding: 10px;
    padding-left: 20px;
}

.summary_right {
    width: 70%;
    height: 80%;
}

.summary_left_top {
    padding-bottom: 40px;
}

.summary_left_top h2 {
    padding-bottom: 20px;
    font-weight: 600;
}

.summary_right img {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    margin-top: 8%;
}