.sideLinks{
    position: absolute;
    top: 0;
    left: 95%;
    border-radius: 45px;
    font-size: 48px;
}
.burger_menu_hide{
    opacity: 0.2;
}
.burger_ul{
    font-size: 20px;
    display: none;
}