.sideLinks{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-align: center;
    z-index: 99;
}
.burger_menu{
    text-align: left;
}
.burger_ul_hides{
    display: none;
}
.burger_ul{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
.burger_ul li{
    position: relative;
    white-space: nowrap;
    padding-bottom: 10px;
}
.burger_ul li a{
    text-decoration: none;
    color: black;
}
.burger_ul li:nth-child(1){
    padding-top: 20px;
}
.burger_ul li a:hover{
    color: rgb(95, 95, 95);
}
#j{
    position: fixed;
}