.sideLinks{
    position: absolute;
    width: 100px;
    height: 200px;
    top: 0;
    left: 92%;
    border-radius: 45px;
    font-size: 32px;
    text-align: right;
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
.burger_menu{
    transition: 1s;
}
.burger_ul_hides{
    display: none;
}
.burger_ul{
    position: absolute;
    right: 60px;
    text-align: right;
    animation: fadeInRight 1s;
    font-size: 18px;
}