.skills{
    width: 100%;
    height: 72rem;
    min-height: 72rem;
    background-color: white;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding-top: 5rem;
}
.skills_h1{
    width: 75%;
    padding-top: 2rem;
    font-size: 2rem;
    margin: 0 auto;
    text-align: left;
}
.pgbar{
    text-align: left;
}
.inner_pgbar{
    display: flex;
    flex-direction: row;
    margin: 0.8rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.inner_pgbar progress{
    width: 90%;
    height: 1.4rem;
    margin-top: 1.8rem;
    padding-left: 2rem;
    padding-right: 1rem;
}
.skill_name{
    width: 5rem;
    margin-top: 1.5rem;
    padding-left: 0.8rem;
    font-size: 1.4rem;
}
#progress {
    appearance: none;
}
#progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:1rem;
    box-shadow: inset 0.3rem 0.3rem 1rem #ccc;
}
#progress::-webkit-progress-value {
    border-radius:1rem;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #ffdfd3, #ffb395);
    background: linear-gradient(to right, #ffdfd3, #ffb395);
}
.inner_pgbar img{
    width: 4.8rem;
    height: 4.8rem;   
}

/* to right, #93F9B9, #1D976C */