.top_main{
    width: 100%;
    height: 100vh;
    background-color:#f2f2f2;
    font-size: 50px;
    text-align: center;
}
.top_main_header{
    position: relative;
    top: 30%;
    width: 80%;
    margin: 0 auto;
    font-size: 80px;
    font-weight: 500;
    animation: showText 1s;
}
.header_first{
    position: relative;
    top: 30%;
    width: 80%;
    margin: 0 auto;
    font-size: 26px;
    animation: showText 1.3s;
}
.header_footer{
    position: relative;
    top: 65%;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    animation: showText 1.7s;
}