@font-face {
  font-family: "Yoon";
  src: url(./font/NotoSansKR-Light.otf);
}
@font-face {
  font-family: "Yoon330";
  src: url(./font/윤고딕330.otf);
}
@font-face {
  font-family: "Yoon320";
  src: url(./font/윤고딕320.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Yoon";
}

html{
  font-size: 14px;
}

.App {
  width: 100%;
  background-color: #f2f2f2;
}