@font-face {
  font-family: "Yoon";
  src: url(../src/font/NotoSansKR-Light.otf);
}

@font-face {
  font-family: "Yoon330";
  src: url(../src/font/윤고딕330.otf);
}

@font-face {
  font-family: "Yoon320";
  src: url(/src/font/윤고딕320.otf);
}
@font-face {
  font-family: 'Yoon350';
  src: url(/src/font/윤고딕350.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
p{
  margin-bottom: 0.5rem;
}

html{
  background-color: white;
  font-size: 10px;
}

/* body{
  -ms-overflow-style: none;
  }
  
 ::-webkit-scrollbar {
   display: none;
 } */
body{
  background-color: #f2f2f2;
}
a {
  color: rgb(120, 120, 255);
  text-decoration: underline;
}

a:hover {
  color: blue;
}

html {
  font-size: 14px;
}

@media (max-width : 1100px) {
  html {
    font-size: 12px;
  }
}

.App {
  max-width: 5000px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
/* 다크모드 토글 */
.app_left{
  position: fixed;
  width: 0%;
  height: 100vh;
  background-color: white;
  border-right: 1px solid gray;
}
.app_left_top{
  width: 80%;
  height: 80%;
  background-color: white;
  margin: 0 auto;
}
.app_left_top_img{
  width: 150px;
  /* background-color: #f2f2f2; */
  margin: 0 auto;
  margin-top: 20%;
  /* border-radius: 100%;
  overflow: hidden; */
}
.app_left_top_img img{
  position: relative;
  bottom: 10%;
}
.app_left_top_links{
  width: 100%;
  height: 70%;
  background-color: white;
}
.app_left_top_links{
  padding-top: 1rem;
  width: 100%;
  font-size: 2.4rem;
  text-align: center;
}
.app_left_top_links_h2{
  font-size: 1.5rem;
}
.app_left_top_links_h2_2{
  font-size: 1.1rem;
  padding-bottom: 1rem;
}
.app_left_top_links h3{
  font-size: 0.9rem;
}
.app_left_top_links_footer{
  margin-top: 4rem;
  width: 100%;
  height: 100%;
  background-color: white;
}
.app_right{
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.none{
  display: none;
}
.good{
  animation: showText 1s;
}
.right_good{
  animation: showText 1.5s;
}

.showText_3s{
  animation: showText 2s;
}

.showText_4s{
  animation: showText 2.5s;
}
.showText_5s{
  animation: showText 3s;
}
.showTextTop{
  animation: showTextTop 2.5s;
}
.showTextSlow{
  animation: showTextSlow 2s;
}

/* 반응형 */
@media (max-width: 450px) {
  .app_right{
    width: 450px;
  }
  .top_main{
    height: 30vh !important;
  }
  .top_main_left{
    height: 30vh !important;
  }
  .top_main_right{
    height: 30vh !important;
  }
  .top_main_left_top{
    font-size: 4rem !important;
    height: 3rem !important;
  }
  .top_main_left_bottom{
     height: 30vh !important;
  }
  .right_small_menu{
    display: none;
  }
  .left_name{
    margin: 0 auto;
    padding: 4.8rem 1rem 1rem 1rem !important;
  }
  .left_second{
    margin: 0 auto;
    padding: 0 1rem 1rem 1rem !important;
  }
  .bottom_job{
    width: 450px !important;
    font-size: 2rem !important;
    padding: 16rem 0 0 1.1rem !important;
  }
  .main{
    flex-direction: column !important;
  }
  .intro_left{
    width: 100% !important;
    height: 30vh !important;
  }
  .intro_right{
    width: 100% !important;
  }
  .right_birth{
    padding: 9rem 2.4rem 2.4rem 0 !important;
  }
  .right_education{
    padding: 1rem 0 0 0 !important;
  }
  .right_second_1{
    font-size: 1.19rem !important;
    padding-top: 0.8rem !important;
  }
  .right_education_div{
    padding-bottom: 2.4rem !important;
  }
  .project_main{
    width: 100% !important;
  }
  .project_img{
    width: 100% !important;
    height: 25rem !important;
  }
  .project_img:nth-child(2n){
    margin-top: 0 !important;
  }
  .about_my{
    width: 60% !important;
    flex-direction: column !important;
  }
  .my_name_sk{
    width: 100% !important;
  }
  .my_skills_sum{
    font-size: 1.2rem !important;
  }
  .padding_set{
    width: 60% !important;
    margin: 0 auto;
  }
}