@font-face{
  font-family: "Yoon";
  src: url(./font/AnyConv.com__KoPubDotumBold.eot);
}
*{
  margin: 0;
  padding: 0;
  font-family: "Yoon" sans-serif;
}
.App{
  width: 100%;
  background-color: #f2f2f2;
}